<div class='timeline-form'>
<h2>Create Your Timeline</h2>
<%= form_for @timeline do |f| %>

<div class='timeline-data'>
<span class='form-title'>
<%= f.label :title %>:
<%= f.text_field :title %><br />
</span>

<span class='form-birthyear'>
<%= f.label :birthyear %>:
<%= f.text_field :birthyear %><br />
</span>
</div>

<div class="field">
  <%= f.fields_for :events do |t| %>
  <div>
    <%= t.select :event_name, options_for_select(["first concert", "first album", "favorite artist age 12", "favorite artist age 16", "favorite artist age 18"]) %>

    <%= t.label :year %>:
    <%= t.text_field :year %>


    <%= t.fields_for :artists do |a| %>
      <%= a.label :artist %>:
      <%= a.text_field :artist_name %>

    <% end %>
  </div>
  <% end %>
</div>
<div class='half-spacer'></div>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
<div class='spacer'></div>
<%= link_to 'Back', timelines_path, class: 'btn btn-primary' %>
</div>