<% if @timeline.title %>
<h1 class='timeline-id' id='<%= @timeline.id %>'><%= @timeline.title %></h1>
<% else %>
<h1 class='timeline-id' id='<%= @timeline.id %>'>Timeline id:<%= @timeline.id %></h1>
<% end %>

<h2 class='timeline-birthyear'>Born: <%= @timeline.birthyear %></h2>
<div class='spacer'></div>
<div id='life'>
</div>

<%= javascript_include_tag "graph"%>
<%= javascript_include_tag "jquery.tipsy"%>