<% if @timeline.title %>
<h1>Timeline title: <%= @timeline.title %></h1>
<% else %>
<h1>Timeline id:<%= @timeline.id %></h1>
<% end %>

<h2>Born: <%= @timeline.birthyear %></h2>

<% @events.each do |event| %>
  <div>
  <div>Event name: <%= event.event_name %></div>
  <div>Year: <%= event.year %></div>
  <div>Artist:

  <%= event.artist.artist_name %>
  </div>
  </div><br/>
<% end %>