<!DOCTYPE html>
<html>
<head>
  <title>Sonostalgic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills navbar-fixed-top this-nav">
  <li class='nav-link'><a href="/">Home</a></li>
  <li class='nav-link'><a href="/timelines">Timelines</a></li>
  <li class='nav-link'><a href="#">Share with Friends</a></li>
</ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
